*{
    font-family: 'Montserrat','IBM Plex Sans', sans-serif;
    text-align: center;
    
}
.heading{
    font-family: 'Lobster', cursive;
    font-size: 45px;
    color: #15B41C;
}
#contact_us{
    font-size: 23px;
}
.details{
    margin: 40px 0px 0px 310px;
}
#contact_us a{
    margin: 10px;
}
#contact_us img{
    border: 7px solid #15B41C;
    border-radius: 50%;
    margin: 40px;
}
#contact_us img:hover{
    border-color: #2B75D6;
}
.socialmedia{
    text-align: center;
}

/* Navbar */
.navbar{
    background-color: #104f9f;
    
}



.nav-link{
    color: black;
    font-size: 1.5rem;
    margin: 0 2rem;
    font-weight: bolder;
    color: aliceblue;
}

 .nav-link:hover{
    color: #b5cde9;
}

.nav-link:active{
    background:#98bae0;
}

.nav-link:focus{
    background:#98bae0;
}


.home-class{
    background-image: url("img/lake.jpg");
    height: 30rem;
/* background-color: #15B41C; */
}

.home-heading{
    display: block;
    font-family: Montserrat;
    font-weight: 900;
    padding: 3.5rem 8rem;
    text-align: center;
    user-select: auto;
}

.fa {
    font-size: 71px;
    color: #7c4cffcf;
    margin-left: 45%;
    margin-top: 123px;
  }

  .logo-img{
    vertical-align: middle;
    margin-left: 9rem;
    border-radius: 100%;
  }

  #donate{
    text-align: center;
    background-color: #ccdf9e;
    padding: 1.5rem 2rem;
  }

  .donate-heading{
    font-family: 'Montserrat';
    font-weight: 700;
    padding: 2rem 2rem;
  }

  .donate-btn{
    padding: 0.2rem 2rem;
    font-family: 'Montserrat';
    font-weight: 700;
    background-color: #417505;
    color: aliceblue;
    border-radius: 1.5rem;
    font-size: xx-large;
  }

  .class-2{
    margin-block: auto;
  }

  /* About Us */
  .abt-h1 .work-h1{
    font-weight: 600;
    font-size: xxx-large;
  }

  #about{
    text-align: center;
    padding: 3rem 9rem;
    background-color:aliceblue;
  }

  .abt-para{
    font-size: larger;
    padding-bottom: 1.5rem;
  }

  .card{margin: auto;
    width: 29rem;}

    .work-h1{
        
    padding: 1.5rem 0;
    background-color: #d4dfba;
    margin-bottom: 0;
    }